<footer>
  <p>
    <%= current_year %>,
    Alexander Shcherbachenko,
    <%= github_url("MrAlejandro", "TestGuru") %>
  </p>
  <p>
  <p>
    TestGuru provides online testing service. It prints a quiz, one question and several answers to select.
    After submitting the test it prints the result back on the screen.<br>
    <%= link_to "Thinknetica", "http://www.thinknetica.com/", target: :blank %> online school TestGuru study project.
  </p>
</footer>
