<%= content_tag :div,
                class: "progress",
                data: { current_item: current_item, total_items: total_items } do %>
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
<% end %>
